<div class="posts-wrapper">
  <div class="post">
    <div class="post-body">
      <div class="image-wrap">
        <%= form_for @user, url: {action: "update"}, html: { multipart: true },class:"form" do |f| %>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group text-center">
                  <h4><span class="number">1</span>Change your profile image:</h4>
                  <div class="img-circle img-reponsive">
                    <%= profile_avatar_select(@user) %>
                  </div>
                  <label class="control-label"><span class="number">2</span>Select File</label>
                  <%= f.file_field :avatar,class:"file", onChange: 'loadFile(event)' %>


                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">

                <div class="form-group text-center">


                  <h4><span class="number">3</span>Update your bio:</h4>
                  <%= f.text_area :bio, label: false, rows: 4,class:"form-control" %>

                </div>
              </div>
            </div>
            <div class="form-group text-center">
              <%= f.submit "Update Profile", class: 'btn btn-success' %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
